@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>连接串： @ViewData["ConnectionString"]</h3>
<h3>val1： @ViewData["val1"]</h3>
<h3>val2： @ViewData["val2"]</h3>
<h3>val3： @ViewData["val3"]</h3>
<p>Use this area to provide additional information.</p>
这里是关于界面.!!